.box {
    height: 25px;
}

.box:hover {
    height: 100px;
}

body {

    background: linear-gradient(300deg, #000000, #634747);
    background-size: 120% 120%;
    animation: gradient-animation 12s ease infinite;
    background: linear-gradient(300deg, #000000, #5d4a4a, #423535);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

}